[user]
	name = Edison Neto
    email = ednetoali@gmail.com
[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg = !"git lg1"
[core]
	excludefiles = /home/eldron/.gitignore_global
	excludesfile = ~/.gitignore_global
