!! Set a default font and font size as below:
Urxvt.font: xft:Monsapce:size=13
st.font: Monospace-13

!! Set the background, foreground and cursor colors as below:
*.background: #111111
*.foreground: #DDDDDD
*.cursorColor: #CCCCCC
