general {
        colors = true
        interval = 5
}

order += "wireless wlp3s0"
order += "tztime local"

wireless wlp3s0 {
    format_up = "Wifi: (%quality at %essid) %ip"
    format_down = "Wifi: down"
}

tztime local {
        format = "%Y-%m-%d %H:%M:%S"
}
